/* SideBar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transform: translateX(-250px); /* Sidebar oculta quando fechada */
    transition: transform 0.3s ease;
    z-index: 1000; /* Garante que a sidebar fique acima do conteúdo principal */
}

.sidebar.open {
    transform: translateX(0); /* Sidebar visível quando a classe 'open' é adicionada */
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    left: 0; /* Ajuste o ícone para a posição correta dentro da sidebar */
    width: 60px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1001; /* Garante que o botão fique acima da sidebar */
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.menu-item {
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #575757;
}
