/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 1000; /* Garante que a sidebar fique acima do conteúdo principal */
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    right: -60px;
    width: 60px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.menu-item {
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #575757;
}
